h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #333;
    min-width: 500px;
    width: 60%;
    margin: auto;
}

form {
    min-width: 500px;
    width: 60%;
    height: 640px;
    margin: 30px auto;
    display: grid;
    grid-auto-rows: 42px;
    background-color: #eef;
    justify-items: center;
    align-items: end;
    grid-gap: 10px;
    border-radius: 28px;
    box-shadow: 1px 1px 1px 2px #333;
}
form label {
    margin-right: 48px;
    font-size: 18px;
}
input,select, option {
    width: 150px;
    height: 24px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #aaf;
    font-size: 16px;
    background-color: #fff;
}
select{
    height: 28px;
}
select[name=graduate_at]{
    width: 200px;
}
input,
select {
    margin-left: 12px;
}
input[name=addr] {
    width: 320px;
}
.back{
    display: block;
    color:#00f;
    text-decoration: none;
    width: 90px;
    height: 39px;
    border: 0.2rem solid #aaf;
    background: linear-gradient(#eef, #aaf);
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    line-height: 36px;
    margin:10px auto;
}
.back:hover{
    color: #00F;
    font-weight: bold;
    background: linear-gradient(#aaf, #eef);
}
.back:active{
    box-shadow: -1px -1px 1px 1px #33a;
}
input[type=submit],input[type=reset]{
    width: 90px;
    height: 40px;
    color: #8600FF;
    justify-self: center;
    margin: auto 1rem 0 1rem;
    cursor: pointer;
    border: 0.2rem solid #BEBECC;
    background: linear-gradient(#eef, #BEBECC);
   
    border-radius: 5px;
    text-align: center;
}
input[type="submit"]:hover,input[type=reset]:hover{
    color: #8600FF;
    font-weight: bold;
    background: linear-gradient(#BEBECC, #eef);
}
input[type="submit"]:active,input[type=reset]:active{
    box-shadow: -1px -1px 1px 1px #666;
}
.edit{
    width: 200px;
    height: 40px;
    font-size: 24px;
    margin: auto;
    color: #00f;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}
.edit_err{
    color: #f00;
}